<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

    <style>
        .chatbox {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .chatbox li {
            word-wrap: break-word; /* Ensures words break and wrap within the container */
            white-space: pre-wrap; /* Preserves whitespace and allows wrapping */
            padding: 5px; /* Adds some padding for better readability */
            border-bottom: 1px solid #ccc; /* Optional: adds a separator line between messages */
        }
    </style>

<body>

  <%- include('partials/header') %>

  <main>

    <h1>Welcome to your Dashboard, <%= user %>!</h1>

    <h2>Chat</h2>
    <input type="hidden" id="username" value="<%= user %>">
    <ul id="messages" class="chatbox" style="overflow-y: scroll; height: 300px; border-style:inset; width: 300px;">
        <!-- Existing messages will be loaded here -->
    </ul>
    <form id="chatForm">
        <input id="messageInput" autocomplete="off" />
        <button>Send</button>
    </form>

  </main>

  <%- include('partials/footer') %>

  <script src="js/socket.io.js"></script>
  <script src="js/chat.js"></script>

</body>
</html>

